# nested loops

In [ ]:
colors=["red,"big","tasty"]
fruits=["apple","banana","cherry"]

In [3]:
numbers=[2,3,5,6,7,8,88]
sum_=0
for num in numbers:
    sqr=num**2
    sum_=sum_+ sqr
print("the sum of squares are:",sum_)

the sum of squares are: 7931

In [5]:
for num in range(10,20):
    for i in range(2,num):
        if num%i==0:
            j=num/i
            break
    else:
            print(num,"is a prime number")

11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number

In [6]:
n=7
for i in range(1,11):
    prdct=n*i
    print("%d+%d=%d"% (n,i,prdct))

7+1=7
7+2=14
7+3=21
7+4=28
7+5=35
7+6=42
7+7=49
7+8=56
7+9=63
7+10=70

# pattern

In [7]:
row=5
for i in range(1,row+1):
    for j in range (1,i+1):
        print(j,end=' ')
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [12]:
n=5
k=5
for i in range(0,n+1):
    for j in range (k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [13]:
n=5
k=5
for i in range(0,n+1):
    for j in range (k-i,0,-1):
        print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1
2 2 2
3 3
4

In [20]:
rows=5
for i in range(0,rows):
    for j in range(0, i + 1):
        print("+",end=' ')
    print(" ")
    
for i in range(rows, 0 , -1):
    for j in range(0,i-1):
        print("+",end=' ')
    print(" ")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + +
+ + +
+ +
+

# list comprehension

In [2]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[]
for x in fruits:
    if "w" in x:
        newlist.append(x)
print(newlist)

['kiwi']

In [22]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [23]:
new=[x*x for x in range(10)]
print(new)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
new=[x.upper() for x in fruits]
print(new)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [25]:
new=[x for x in fruits]
print(new)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [27]:
new=[x for x in fruits if x!="mango"]
print(new)

['apple', 'banana', 'cherry', 'kiwi']

# enumerate()

In [31]:
for key,value in enumerate(["the","big","bang","theory"]):
 print(key,value)

0 the
1 big
2 bang
3 theory

In [33]:
grocery=["milk","egg","bread","butter"]
enumerategrocery=enumerate(grocery)
print(type(enumerategrocery))

<class 'enumerate'>

# zip()

In [34]:
qns=["name","color","shape"]
ans=["apple","red","a shape"]
for qns,ans in zip(qns,ans):
    print("what is your {0}? iam {1}".format(qns,ans))

what is your name? iam apple
what is your color? iam red
what is your shape? iam a shape

# sorted()

In [35]:
list0=[2,3,4,5,5,6,6,7,2,15]
print("the list in sorted order is:")
for i in sorted(list0):
    print(i,end=" ")
print("\r")
print("the list in sorted order(without duplicates)is:")
for i in sorted(set(list0)):
    print(i,end=" ")

the list in sorted order is:
2 2 3 4 5 5 6 6 7 15
the list in sorted order(without duplicates)is:
2 3 4 5 6 7 15

In [36]:
list0=[2,3,4,5,5,6,6,7,2,15]
print("the list in reverse order is:")
for i in reversed(list0):
    print(i,end=" ")

the list in reverse order is:
15 2 7 6 6 5 5 4 3 2