# TUPLES

## update tuples

In [2]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

## add items

In [2]:
mytuple=("apple","banana","cherry")
y=list(mytuple)
y.append("orange")
mytuple=tuple(y)
print(mytuple)

('apple', 'banana', 'cherry', 'orange')

In [5]:
mytuple=("apple","banana","cherry")
y=("orange",)
mytuple += y
print(mytuple)

('apple', 'banana', 'cherry', 'orange')

## unpacking

In [6]:
fruits=("apple","banana","cherry")
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [9]:
fruits=("apple","banana","cherry","potato","tomato","jackfruit")
x,*y,z=fruits
print(x)
print(y)
print(z)

apple
['banana', 'cherry', 'potato', 'tomato']
jackfruit

In [10]:
fruits=("apple","banana","cherry","potato","tomato","jackfruit")
x,y,*z,p=fruits
print(x)
print(y)
print(z)
print(p)

apple
banana
['cherry', 'potato', 'tomato']
jackfruit

# set

## unique elements

In [12]:
num={1,4,5,6,7,8,3}
str={"orange","mango"}
mixed={1,4,5,6,7,8,"orange","mango"}
print(num)
print(str)
print(mixed)

{1, 3, 4, 5, 6, 7, 8}
{'orange', 'mango'}
{1, 4, 5, 6, 7, 8, 'orange', 'mango'}

## add items

In [15]:
set1={"apple","banana","orange","tomato"}
set2={"carrot","chilly","potato","melon"}
set1.update(set2)
print(set1)

{'bananaorange', 'melon', 'potato', 'chilly', 'apple', 'tomato', 'carrot'}

In [16]:
set1={"apple","banana","orange","tomato"}
set1.add("orange")
print(set1)

{'orange', 'apple', 'tomato', 'banana'}

## remove items

In [17]:
myset={"apple","banana","cherry"}
myset.remove("banana")
print(myset)

{'cherry', 'apple'}

In [18]:
myset={"apple","banana","cherry"}
myset.discard("apple")
print(myset)

{'cherry', 'banana'}

In [19]:
myset={"apple","banana","cherry"}
x=myset.pop()
print(x)
print(myset)

cherry
{'apple', 'banana'}

In [20]:
myset={"apple","banana","cherry"}
myset.clear()
print(myset)

set()

## set operations

In [2]:
set1={1,2,3}
set2={3,4,5}
union=set1.union(set2)
print(union)

{1, 2, 3, 4, 5}

In [3]:
set1={1,2,3}
set2={3,4,5}
intersection=set1.intersection(set2)
print(intersection)

{3}

In [4]:
set1={1,2,3}
set2={3,4,5}
difference=set1.difference(set2)
print(difference)

{1, 2}

In [5]:
set1={1,2,3}
set2={3,4,5}
symmetric_difference=set1.symmetric_difference(set2)
print(symmetric_difference)

{1, 2, 4, 5}