# comments

In [1]:
# this is not a program
print("hello world")

hello world

In [8]:
x=5
y="string"
z=[5,8,9]
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'list'>

In [10]:
x=42
y=type(x)
print(type(x))

<class 'int'>

In [19]:
str_num="42"
print(type(str_num))
num_int=int(str_num)
print(type(num_int))

<class 'str'>
<class 'int'>

In [28]:
x=input ( "enter your name:")
print("hello " +  x)

enter your name:shana
hello shana

In [34]:
x=float(input("enter the first number:"))
y=int(input("enter the second number:"))
print("the addition is:",x+y)

enter the first number:56
enter the second number:76
the addition is: 132.0

In [35]:
x=(input("enter the first number:"))
y=(input("enter the second number:"))
print("the addition is:",x+y)

enter the first number:34
enter the second number:12
the addition is: 3412

In [37]:
a='''lorem djfjhsajhnv
bashjh sbdhagjh ahj jbjhags
jffnj fnsjh ndkjsfhia jhjs hgwu agwfty 
hdah nvdhj hgdjg dghajg'''
print(a)

lorem djfjhsajhnv
bashjh sbdhagjh ahj jbjhags
jffnj fnsjh ndkjsfhia jhjs hgwu agwfty
hdah nvdhj hgdjg dghajg

# length

In [38]:
x="mango"
print(len(x))

5

In [39]:
string="my world"
print(len(string))

8

# string indexing

In [40]:
x="elephant"
print(x[4])

h

# string slicing

In [41]:
z="carrot"
print(z[3:])#first included and last excluded

rot

In [42]:
x="home sweet home"
print(x[5:])

sweet home

In [44]:
x="beautiful weather"
print(x[:9])

beautiful

In [49]:
x="dog"
print(x[-3])

d

In [50]:
c="hello mr perera"
print(c[0:15:2])

hlom eea

In [52]:
d="little boy"
print(d[7:10])

boy

# reversing string

In [54]:
t="shahana"
reversed=t[::-1]
print(reversed)

anahahs

In [58]:
x="oh"
y="my"
z="god"
w=x+ ""+ y + "" z + ( ! * 20)
print(w)

SyntaxError: invalid syntax (4094242847.py, line 4)

# string methods

In [61]:
x1="hello"
print(x1.upper())

HELLO

In [62]:
x2="world"
print(x2.lower())

world

In [64]:
x3="  hello   world !!!!    "
print(x3.strip())

hello   world !!!!

In [72]:
alphacheck="hello".isalpha()
print(alphacheck)
digitcheck="56".isalpha()
print(digitcheck)
alnumcheck="hello36".isalnum()
print(alnumcheck)

True
False
True

In [75]:
fruits="apple,mango,cherry"
string=fruits.split(",")
print(string)
joined_string=fruits.split("-")
print(joined_string)

['apple', 'mango', 'cherry']
['apple,mango,cherry']

In [77]:
x="hello world"
z=x.replace("hello","hi")
print(z)

hi world

In [91]:
name ="alice"
age=59
w= "my name is %s and iam %d old" % (name,age)
print(w)
formatted_name=f"my name is {name} and {age} old."
print(formatted_name)
formatted_name2="my name is {} and iam {} old." .format(name,age)
print(formatted_name2)

my name is alice and iam 59 old
my name is alice and 59 old.
my name is alice and iam 59 old.

In [93]:
pi=3.1489879846
formatted_pi="{:0.3f}".format(pi)
print(formatted_pi)

3.149