# 1

In [6]:
set1={2,4,6,8}
set2={4,8,12,16}
x=set1.intersection(set2)
if x:
    print("sets have common elements")
else:
    print("no common elements")

sets have common elements

# 2

In [7]:
set1={5,10,15,20,25}
set2={10,20,30,40,50}
x=set1.difference(set2)
print(x)

{25, 5, 15}

# 3

In [8]:
set1={6,12,18,24,30}
set2={3,6,9,12,15}
x=set2.symmetric_difference(set1)
print(x)

{18, 3, 24, 9, 30, 15}

# 4

In [11]:
list1=[2,3,4,5,6,7,8,2,6]
x=set(list1)
print(x)

{2, 3, 4, 5, 6, 7, 8}

# 5

In [14]:
set1={2,4,6,8,0}
set2={3,6,9,0,7}
new_set=set1.union(set2)
x=set(new_set)
print(x)

{0, 2, 3, 4, 6, 7, 8, 9}

# 6

In [18]:
set1={7,14,21,28,35,42}
subset={7,42}
check=subset.issubset(set1)
if check:
    print("it is a subset of set1")
else:
    print("it is not a subset")

it is a subset of set1

# 7

set1={7,14,21,28,35,42}
x=max(set1)
y=min(set1)
print(x,y)

# 8

In [27]:
set2={10,20,30,40,50}
set2.clear()
print(set2)

set()

# 9

In [29]:
set1={0,1,2,3,4,5}
set2={4,3,3,4,5,1}
set3={6,7,8,9}
x=set1.union(set2)
updated_set=x.union(set3)
print(updated_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# 10

In [30]:
set0={10,20,30,40,50,60}
sum0=sum(set0)
print(sum0)

210